<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="test">contact</title>
</head>
<body>
    <%- include header -%>
    <main class="locations" hidden>
    </main>
</body>
</html>