<header>
    <div class="date">
        <p id="date"></p>
    </div>
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contacts.html">Contacts</a>
    </nav>
</header>