<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Pangolin&display=swap" rel="stylesheet">
    <title id="title" data-name="home">WeatherApp</title>
</head>
<body>
    <%- include header -%>
    <main id="locations" class="locations">
    </main>
    <%- include footer -%>
</body>
</html>