<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title id="title" data-name="list">WeatherApp</title>
</head>
<body>
    <%- include header -%>
    <main id="list__main">
        <div id="list__div" class="list__div">
            <table id="city__table" class="city__table"></table>
        </div>
    </main>
    <%- include footer -%>
</body>
</html>